.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
/vue.custom.config.js
/vue.register_service.config.js
/vue.custom.config_dev.js
/vue.register_service.config_dev.js
